<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
       <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
    </filter>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- use the previously created timestamp to create a uniquely
         named log file -->
    <file>log-test_log.txt</file>
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
   
  <logger name="com.dapper" level="TRACE"/>
  <logger name="com.dapper" level="INFO">
  	<appender-ref ref="STDOUT"/>
  </logger>
  <logger name="com.dapper" level="DEBUG">
  	<appender-ref ref="FILE"/>
  </logger>
 
  <root level="debug">

  </root>
</configuration>